alembic==1.18.4
asyncpg==0.31.0
facenet-pytorch==2.6.0
fastapi==0.135.2
mediapipe==0.10.33
numpy==2.2.6
opencv-python==4.13.0.92
pydantic-settings==2.13.1
python-dotenv==1.2.2
sqlmodel==0.0.22
timm==1.0.26
torch==2.11.0
torchvision==0.26.0
uvicorn==0.42.0
websockets==16.0